

.dropdown-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.88),rgba(0, 0, 0, 0.88)), url(images-SP1/unsplash_Q_RBVFFXR_g.jpg);
    padding: 35px 0 ;
    left: 0%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 25px 5px rgba(233, 233, 233, 0.354);
    z-index: 1;
}

.menu-list-wrapper {
    display: flex;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.menu-ul {
    width: 250px;
    height: auto;
}

.menu-ul::-webkit-details-marker {
    display: none;
}

.menu-ul li {
    text-align: center;
    list-style: none;
}

.li-menu-padding {
    padding: 5px 0;
}

.bottom-menu-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-list-margin {
    margin: 20px 5px;
}

.li-color {
    background-color: #682872;
    padding: 10px 0;
    border-radius: 5px;
}

/* ------ Search bar ------- */

.input-menu {
    width: 300px;
    height: 40px;
    background-color: var(--Purple-text-button-footer);
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.input-menu::placeholder {
    height: 50px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 40px;
}

.input-menu[type="search"]{
    background-image: url(images-SP1/SVG/Search-icon.svg);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 25px;
    color: white;
    padding-left: 35px;
    font-size: 18px;
    font-family: 'Fredoka', sans-serif;
}

.input-menu:focus {
    outline:white 1px solid;
    padding-left: 35px;
}
