:root {
    --Background: #E3E3E3;
    --Purple: rgb(126, 56, 137);
    --Green: rgb(67, 137, 56);
    --Blue: rgb(56, 108, 137); 
    --Purple-text-button-footer: #682872; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}


/* --------------------*/


.dropdown-menu-container {
    max-width: 1920px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.88),rgba(0, 0, 0, 0.88)), url(images-SP1/unsplash_Q_RBVFFXR_g.png);
    display: flex;
    flex-direction: column;
    padding: 35px 0 ;
    margin-left: -35px;
}


.menu-list-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.menu-ul {
    width: 250px;
    height: auto;
}

li {
    text-align: center;
}

.under-menu-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-list-margin {
    margin-bottom: 20px;
}

.li-color {
    background-color: #682872;
    padding: 10px 0;
    border-radius: 5px;
}

/* ------ Search bar ------- */

input {
    width: 300px;
    height: 40px;
    background-color: var(--Purple-text-button-footer);
    border: none;
    border-radius: 5px;
}

input::placeholder {
    height: 50px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 40px;
}

input[type="search"]{
    background-image: url(images-SP1/SVG/Search-icon.svg);
    background-repeat: no-repeat;
    background-position: top 50% left 10px;
    background-size: 25px;
}
