:root {
    --Background: #E3E3E3;
    --Purple: rgb(126, 56, 137);
    --Green: rgb(67, 137, 56);
    --Blue: rgb(56, 108, 137); 
    --Purple-text-button-footer: #682872; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}


/* --------------------*/


a, p {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

li {
    color: white;
    list-style: none;
    font-size: 20px;
}

ul {
    padding: 0;
}


/* ----- Footer container ----- */


footer {
    background: var(--Purple-text-button-footer);
    display: flex;
    justify-content: center;
    height: 400px;
}

.max-width-1920 {
    width: 1920px;
}

.footer-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-inner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    flex-wrap: wrap;
}

/* ----- Footer table ----- */


table {
    color: white;
    font-size: 20px;
}

thead th {
    padding-bottom: 20px;
}

.table-right{
    text-align: right;
    
}

th {
    text-align: left;
}


/* ----- Phone and email info ----- */

.contact-location {
    display: flex;
    justify-content: center;
    height: 30px;
}

.bottom-info-left {
    padding-right: 20px;
}

.bottom-info-right {
    padding-left: 20px;
    border-left: 1px solid;
    border-color: white;
}

