:root {
    --Background: #E3E3E3;
    --Purple: rgb(126, 56, 137);
    --Green: rgb(67, 137, 56);
    --Blue: rgb(56, 108, 137); 
    --Purple-text-button-footer: #682872; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}


/* ---------- Nav Menu ----------*/


header {
    height: 150px;
    background: var(--Purple-linear);
    width: 100%;
    display: flex;
    justify-content: center;
}

nav { 
    width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    width: 100px;
    height: auto;
    padding-right: 35px;
}

details {
    padding-left: 35px;
}

.menu-button {
    list-style: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--Purple-text-button-footer);   
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.menu-button::before {
    content: 'Menu';
    transition: transform 0.2s ease;

}

.menu-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    summary::before {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu-button {
        width: 50px;
        transition: 0.2s ease;
    }
    


}


summary [open] {
    background-color: #E3E3E3;
}

/* -----------------------------------*/

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

li {
    color: white;
    list-style: none;
    font-size: 20px;
}

ul {
    padding: 0;
}



