@import url(header.css);
@import url(footer.css);
@import url(drop-down-menu.css);

:root {
    --Background: #E3E3E3;
    --Purple-linear: linear-gradient(to bottom, #7E3889,#7e388908);
    --Green: rgb(67, 137, 56);
    --Blue: rgb(56, 108, 137); 
    --Purple-text-button-footer: #682872; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    background: var(--Background);
}



.seperatorbox {
    height: 600px;
    max-width: 100%;
    color: var(--Blue);
}
