
/* ================ Media max 1531px ================ */

@media screen and (max-width: 1531px) {
    
    p {
        font-size: 20px !important;
    }

}





/* ================ Media max 1000px ================ */


@media screen and (max-width: 1000px) {

    /*---------- header ----------*/
    header {
        height: 100px;
    }
    .logo-header {
        width: 75px;
        padding-right: 25px;
    }
    .dropdown-menu-container {
        top: 100px;
        margin-left: -25px !important;
    }
    .menu-button {
        width: 100px;
        transition: 0.2s ease;
    }
    .menu-details {
        padding-left: 25px;
    } 

    /*---------- text ----------*/
    h1 {
        font-size: 6vw !important;
    }
    .h2-white {
        font-size: 20px !important;
    }
    .h3-white {
        font-size: 30px !important;
    }
    h4 {
        font-size: 40px !important;
        height: 75px !important;
        margin: 25px 0 !important;
    }

    /*---------- Buttons ----------*/ 
    .medium-btn, .link-btn {
        width: 250px !important;
        height: 60px !important;
        font-size: 25px !important;
    }

    /*---------- News / events ----------*/

    .news-event-container {
        flex-wrap: wrap; 
    }
    .article-container-1 {
        margin: 0 !important;
        max-width: 1000px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .article-info {
        justify-content:unset !important;
        min-height: 200px !important;
        
    }
    

}




/* ================ Media max 850px ================ */


@media screen and (max-width: 850px){
    .hide {
        display: none;
    }

    /*---------- header ----------*/
    header {
        height: 75px;
    }
    .logo-header {
        width: 65px;
    }
    .dropdown-menu-container {
        top: 75px;
        margin-left: -15px !important;
        padding: 0 !important;
    }
    .menu-details {
        padding-left: 15px;
    } 
    .logo-header {
        padding-right: 15px;
    }
    summary::before {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu-button {
        width: 50px;
        transition: 0.2s ease;
    }
    .menu-list-margin {
        margin: 20px 5px;
    }
    .menu-ul {
        margin: 0;
    }
    .under-menu-list {
        margin-bottom: 20px;
    }

    /*---------- search bar ----------*/

    .input-menu {
        max-width: 250px;
    }

    .image-header-container {
        height: 50vw !important;
    }

    /*---------- text ----------*/
    h1 {
        font-size: 7vw !important;
    }
    .h2-white {
        font-size: 14px !important;
    }
    .h3-white {
        font-size: 18px !important;
    }
    h4 {
        font-size: 30px !important;
        height: 50px !important;
    }


    /*---------- Buttons ----------*/
    .medium-btn, .link-btn {
        width: 150px !important;
        height: 40px !important;
        font-size: 18px !important;
    } 

    /*---------- News / events ----------*/

    .news-event-container {
        /* flex-wrap: wrap;  */
    }
    .article-container-1 {
        /* margin: 0 !important; */
    }
}
    
