@import url(header.css);
@import url(footer.css);
@import url(drop-down-menu.css);


@import url(media.css);

:root {
    --Background: #E3E3E3;
    --Purple-linear: linear-gradient(to bottom, #7E3889,#7e388908);
    --Green: rgb(67, 137, 56);
    --Blue: rgb(56, 108, 137); 
    --Purple-text-button-footer: #682872; 
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    background:var(--Background);
}


main {
    width: 100%;
}

/*------ H text ------*/



.h2-white {
    font-size: 25px;
    color: white;
    margin: 20px 0;
}

.h3-white {
    font-size: 35px;
    color: white;
    text-align: center;
    margin: 0 5px;
    font-weight: 600;
}


/*----- Icons -----*/

.icon {
    font-size: 35px;
}

/*----- Containers used several places -----*/

.container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.header-img {
    align-items: center;
    width: 100%;
    z-index: -1;
}

.h1-header-img {
        font-size: 5vw;
        font-weight: 600;
        color: white;
        text-shadow: 0px 5px 4px #000;
        margin-top: -20px;
        position: absolute;
        align-self: center;
        z-index: -1;
}


/*----- Buttons -----*/

.medium-btn {
    width: 300px;
    height: 80px;
    background-color: var(--Purple-text-button-footer);
    border: none;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    margin: 35px 0;
}


/* ----- Header image ----- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-black {
    height: auto;
    max-height: 100%;
    margin-top: -100px;
    border-radius: 0 0 5px 5px;
    background-color: black;
}

.text-container {
    max-width: 1850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


